title: "Default Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: 'object'
    properties:
      swarm:
        title: 'Enable swarm?'
        type: 'boolean'
        default: false
      drones:
        title: 'Add as many drones as you like. If left blank the first(or all if swarm) available will be chosen'
        type: "array"
        items:
          title: "BLE UUID or localName"
          type: "string"
